{% extends "base/base.html" %}
    {% block content %}
        <h1>{{ precio.proovedor.nombre }}</h1>
        <h1>Subir excel de PALOMAR</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subir</button>
        </form>
        <div class="btn-container">
            <a href="{% url 'listar_productos_electrimat' %}" class="btn btn-outline-dark">Ver Lista Electrimat</a>
            <a href="{% url 'listar_productos_fenix' %}" class="btn btn-outline-dark">Ver Lista Fenix</a>
        </div>
        <h1 class="title">LISTA DE PRODUCTOS PALOMAR</h1>
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PRECIO (X100%)</th>
                    <th>MARCA</th>
                    <th>PROOVEDOR</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    {% for precio in producto.precio_set.all %}
                        {% if precio.proovedor.nombre == 'Distrito Palomar' %}
                            <tr>
                                <td>{{ precio.id }}</td>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ precio.precio }}</td>
                                <td>{{ producto.marca.nombre }}</td>
                                <td>
                                    {{ precio.proovedor.nombre}}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    <style>
        .btn-container {
            text-align: center;
            margin: 20px 0;
        }
        
        .btn-container .btn {
                margin: 0 10px;
        
        }
    </style>
    {% endblock %}